
<h1>Jacinta Silvino Solino</h1>
<p>Aqui vai a minh marca, jacint Solino é o meu nome, gosto bastante de trabalhar e aprender coiss novas.</p>
<p>O meu desejao é crescer bastnte nas áres de tecnologis e estar preparada o suficiente para atender o mercado e se destacr no mercado profissionr</p>
<p>Tudo que quero é ser reconhecida como profissional</p>
<br><br>
<i>Jacint Solino</i>&nbsp;&nbsp;<b>Elvira Nmele</b> 

<h2>Mis informaçães sobrw</h2>
<table border="1">
  <thead>
  <th>nome</th>
  <th>Idade</th>
  <th>Sexo</th>
</thead>
<tbody>
  <th>{{nome}}</th>
  <th>{{idade}}</th>
  <th>{{sexo}}</th>
</tbody>

</table>
