<h1>Portfolio</h1>
<ng-container>
  <h2>personal information</h2>
  <form action="">
    <div>
      <label for="">Nome</label>
      <input type="text" name="nome" placeholder="Seu nome"><br><br>
      <label for="">emil</label>
      <input type="text" name="email" placeholder="seu email"><br><br>
      <Label>Telegone</Label>
      <input type="text" name="telefone" placeholder="seutelefone"><br><br>
      <label for="">Endereço</label>
      <input type="text" name="Endereco" placeholder="Endereco"><br><br>
    </div>
  </form>
  <h1>Qualifications</h1>
  <h2>qualifiction1</h2>
  <caption>Minhas qualificaações</caption>
  <table border="1">
    <thead>
     <tr>
        <th>nome</th>
        <th>email</th>
        <th>Endereço</th>
        <th>Telefone</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nome}}</td>
        <td>{{email}}</td>
        <td>{{endereco}}</td>
        <td>(+244) {{telefone}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>




